body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 24, 31);

    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 5px;
}

.container div {
    background-color: rgb(66, 95, 104);
    box-shadow: 12px 12px 12px 7px rgb(0,0,0);
    border-style: dashed;
    border-radius: 10px;
    border-color: white;

    overflow: hidden;
}

#list {
    width: 20vw;
    min-width: 300px;
    height: 60vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#currentDisplay {
    height: 50vh;
    margin-left: 20px;
    aspect-ratio: 16 / 9;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: inherit;
    max-height: inherit;

    width: 100%;
    height: 100%;
}

#listItem {
    width: 19vw;
    min-width: 290px;
    height: 50px;

    box-shadow: none;

    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: rgb(125, 162, 173);

    margin-bottom: 5px;

    color: white;
    text-align: center;
    justify-content: center;
    
    h2 {
        margin: 12px auto
    }
}

#listItem:hover {
    background-color: rgb(176, 218, 231);
    cursor: pointer;
}